@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", sans-serif;

  --color-primary: #005A8C;
  --color-secondary: #0078C1;
  --color-accent: #58595B;
  --color-text-main: #2D2D2D;
  --color-text-muted: #555555;
  --color-bg-light: #FFFFFF;
  --color-bg-section: #F1F5F9;
  --color-border: #E2E8F0;
}
